:root {
  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);
  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
  --round: 2rem; }

body {
  padding: 10px; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

strong {
  font-size: 14px; }

body {
  background-color: var(--neutral-gray); }

article {
  display: grid;
  border-radius: var(--round);
  overflow: hidden;
  font-size: 14px; }
  article section {
    padding: 3rem; }
  article .intro {
    background-color: white;
    color: gray; }
    article .intro h1 {
      color: var(--primary-cyan); }
    article .intro strong {
      color: var(--primary-yellow); }
  article .sell {
    background-color: var(--primary-cyan);
    color: white; }
    article .sell strong {
      font-size: 30px; }
    article .sell button {
      background-color: var(--primary-yellow);
      width: 100%;
      padding: 2rem;
      color: white;
      border: none;
      border-radius: 1rem; }
  article .about {
    background-color: #4abebd;
    color: white; }
    article .about ul {
      list-style-type: none;
      padding: 0; }

@media (min-width: 500px) {
  html body {
    padding: 4rem; }
  body main article {
    grid-template-areas: "i i" "s a"; }
    body main article .intro {
      grid-area: i; }
    body main article .sell {
      grid-area: s; }
    body main article .about {
      grid-area: a; } }
