:root {
	--primary-cyan: hsl(179, 62%, 43%);
	--primary-yellow: hsl(71, 73%, 54%);

	--neutral-gray: hsl(204, 43%, 93%);
	--neutral-blue: hsl(218, 22%, 67%);

	--round: 2rem;
}

body {
	padding: 10px;
}

h1 { font-size: 20px; }
h2 { font-size: 16px; }
strong { font-size: 14px; }
body {
	background-color: var(--neutral-gray);
}

article {
	display: grid;
	border-radius: var(--round);
	overflow: hidden;
	font-size: 14px;

	section {
		padding: 3rem;
	}
	.intro {
		background-color: white;
		color: gray;
		h1     { color: var(--primary-cyan); }
		strong { color: var(--primary-yellow); }
	}
	.sell {
		background-color: var(--primary-cyan); 
		strong { font-size: 30px; }
		color: white;
		button {
			background-color: var(--primary-yellow); 
			width: 100%;
			padding: 2rem;
			color: white;
			border: none;
			border-radius: 1rem;
		}
	}
	.about {
		background-color: #4abebd;
		color: white;
		ul {
			list-style-type: none;
			padding: 0;
		}
	}
}


@media (min-width: 500px) {
	html body {
		padding: 4rem;
	}
	body main article {
		grid-template-areas:
			"i i"
			"s a";
		.intro { grid-area: i; }
		.sell  { grid-area: s; }
		.about { grid-area: a; }
	}
}
