/*@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
 */

:root {
	--primary-magenta: hsl(300, 43%, 22%);
	--primary-pink: hsl(333, 80%, 67%);
	--neutral-dark-gray: hsl(303, 10%, 53%);
	--neutral-light-gray: hsl(300, 24%, 96%);
	--neutral-white: hsl(0, 0%, 100%);
}

html,
body {
	margin: 10px;
	padding: 0;
	font-family: "Spartan", sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}

h1 {
	margin: 5rem;
	color: var(--primary-magenta);
}

.ratings {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		margin: 2rem;
		background-color: var(--neutral-light-gray);
		width: 80%;
		overflow: hidden;
		border-radius: 1rem;
		img {
			margin: 1rem;
		}
	}
}

.reviews {
	color: var(--neutral-white);
	section {
		background-color: var(--primary-magenta);
		padding: 1.5rem;
		margin: 1rem;
		border-radius: 1rem;
		.head {
			display: flex;
			align-items: center;
			.name {
				display: flex;
				flex-direction: column;
			}
		}
		img {
			border-radius: 40px;
			margin: 1rem;
		}
		p, h2, h3 {
			padding: 0;
			margin: 0;
			text-align: left;
			font-size: 0.8rem;
		}
		h3 {
			color: var(--primary-pink);
		}

	}
}

@media (min-width: 700px) {
	body main {
		display: grid;
		grid-template-areas:
			"h s"
			"r r";
		header   { grid-area: h; }
		.ratings {
			grid-area: s;
			section {
				flex-flow: row nowrap;
			}
		}
		.reviews {
			grid-area: r; 
			display: flex;
			flex-flow: row nowrap;
			section:nth-child(2) {
				position:relative;
				top: 1rem;
			}
			section:nth-child(3) {
				position:relative;
				top: 2rem;
			}
		}
	}
}
