:root {
	--main-bg: hsl(233, 47%, 7%);
	--card-bg: hsl(244, 38%, 16%);
	--accent:  hsl(277, 64%, 61%);

	--main-heading:  hsl(0, 0%, 100%);
	--main-text:     hsla(0, 0%, 100%, 0.75);
	--stats-heading: hsla(0, 0%, 100%, 0.6);
}

body {
	background-color: var(--main-bg);
	font-size: 15px;
	font-family: "Inter", "Lexend Deca";
}

.blurbgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--card-bg);
	border-radius: 2em 2em 2em 2em;

	.img-placeholder {
		background-image: url("images/image-header-desktop.jpg");
		background-blend-mode: multiply;
		background-color: var(--accent);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 2em 0em 0em 2em;
	}

	.blurb {
		text-align: center;
		padding: 4rem;
		h1 {
			b { color: var(--accent); }
			color: var(--main-heading);
		}
		p {
			color: var(--main-text);
		}
		.braglist {
			display: flex;
			justify-content: space-between;
			.brag {
				h1 {
					color: var(--stats-heading);
				}
			}
		}
	}
}

/* TODO:
 * can't get the background image to display right, responsively */
@media screen and (max-width: 500px) {
	html .blurbgrid {
		display: flex;
		flex-direction: column;
		.img-placeholder {
			background-image: url("images/image-header-mobile.jpg");
			border-radius: 2em 2em 0em 0em;
		}
		.braglist {
			flex-direction: column;
		}
	}
}
