@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
	--primary-red: hsl(0,78%, 62%);
	--primary-cyan: hsl(180, 62%, 55%);
	--primary-orange: hsl(34, 97%, 64%);
	--primary-blue: hsl(212, 86%, 64%);

	--neutral-dark: hsl(234, 12%, 34%);
	--neutral-grayish : hsl(229, 6%, 66%);
	--neutral-light: hsl(0, 0%, 98%);
}

html {
	min-height: 100vh;
	background-color: var(--neutral-light);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4rem;

	h1 {
		font-weight: 200;
		font-size: 44px;
	}
	h1+b {
		font-size: 24px;
		font-weight: 600;
	}

	p {
		max-width: 50vh;
		font-weight: 400;
		margin-left: auto;
		margin-right: auto;
	}

	.blurbgrid {
		display: grid;
		grid-gap: 1rem;

		section {
			text-align: left;
			border-radius: 1rem;
			padding: 3rem;
			box-shadow: 3px 3px 5px 0px var(--neutral-dark);
			border-top: 3px solid var(--primary-red);
			img {
				margin-left: auto;
				margin-top: auto;
				float: right;
			}
			&#supervisor {
				border-color: var(--primary-cyan);
			}
			&#karma {
				border-color: var(--primary-orange);
			}
			&#calculator {
				border-color: var(--primary-blue);
			}
		}
	}
}

@media (min-width: 500px) {
	.blurbgrid {
		grid-template-areas:
			". b ."
			"s b c"
			"s k c"
			". k .";
		#supervisor { grid-area: s; }
		#builder    { grid-area: b; }
		#karma      { grid-area: k; }
		#calculator { grid-area: c; }
	}
}
