:root {
	--very-pale:   hsl(225, 100%, 98%);
	--pale:        hsl(225, 100%, 94%);
	--bright:      hsl(245, 75%, 52%);
	--desaturated: hsl(224, 23%, 55%);
	--dark:        hsl(223, 47%, 23%);
}

@font-face {
	font-family: "Red Hat Display";
	src: url("https://fonts.google.com/specimen/Red+Hat+Display");
}

body {
	justify-content: space-around;
	background-image: url("/frontend-mentor/order-summary-component/images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	font-family: "Red Hat Display";
	font-size: 16px;
}

.container {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.order-summary {
	background-image: url("/frontend-mentor/order-summary-component/images/illustration-hero.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-color: var(--very-pale);
	color: var(--desaturated);

	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 350px;
	border-radius: 40px;
	padding: 50px;

	h1 {
		color: var(--dark);
		padding-top: 190px;
		padding-bottom: 10px;
		margin: 0px;
	}
	
	p { 
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.order-details {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		img {
			justify-self: right;
		}
		div {
			display: flex;
			flex-direction: column;
		}
		a {
			color: var(--bright);
		}
		b {
			color: var(--dark);
		}
	}
	
	button {
		width: auto;
		padding: 15px;
		margin-bottom: 10px;
		background: var(--pale);
		border-radius: 10px;
		border: none;
		cursor: pointer;
	}

	.btn-proceed {
		margin-top: 15px;
		background: blue;
		color: var(--desaturated);
	}
}
