@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --primary-red: hsl(0,78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark: hsl(234, 12%, 34%);
  --neutral-grayish: hsl(229, 6%, 66%);
  --neutral-light: hsl(0, 0%, 98%); }

html {
  min-height: 100vh;
  background-color: var(--neutral-light);
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

body {
  padding: 3rem; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  main h1 {
    font-weight: 200;
    font-size: 44px; }
  main h1 + b {
    font-size: 44px;
    font-weight: 600; }
  main p {
    max-width: 50vh;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto; }
  main .blurbgrid {
    display: grid;
    grid-gap: 1rem; }
    main .blurbgrid section {
      text-align: left;
      border-radius: 1rem;
      padding: 3rem;
      box-shadow: 3px 3px 5px 0px var(--neutral-dark);
      border-top: 3px solid var(--primary-red); }
      main .blurbgrid section img {
        margin-left: auto;
        margin-top: auto;
        float: right; }
      main .blurbgrid section#supervisor {
        border-color: var(--primary-cyan); }
      main .blurbgrid section#karma {
        border-color: var(--primary-orange); }
      main .blurbgrid section#calculator {
        border-color: var(--primary-blue); }

@media (min-width: 500px) {
  html body {
    padding: 0px; }
  .blurbgrid {
    grid-template-areas: ". b ." "s b c" "s k c" ". k ."; }
    .blurbgrid #supervisor {
      grid-area: s; }
    .blurbgrid #builder {
      grid-area: b; }
    .blurbgrid #karma {
      grid-area: k; }
    .blurbgrid #calculator {
      grid-area: c; } }
